@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the global background color */
html, body, #__next {
  height: 100%; /* Ensure full height */
  background-color: rgb(var(--background-rgb)); /* Soft off-white */
  margin: 0;
  padding: 0;
}

/* Apply styles for links */
a {
  text-decoration: none;
}

button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
